language: node_js
node_js:
  - "8"
script:
  - npm install -g serverless@1.31.0
  - npm run test
  - if [ "$TRAVIS_BRANCH" == "master" ]; then npm run deploy-prod; fi
  - if [ "$TRAVIS_BRANCH" == "develop" ]; then npm run deploy-dev; fi
branches:
  only:
  - master
  - develop