# Welcome to Serverless!
#
# This file is the main config file for your service.
# It's very minimal at this point and uses default values.
# You can always add more config options for more control.
# We've included some commented out config examples here.
# Just uncomment any of them to get that config option.
#
# For full config options, check the docs:
#    docs.serverless.com
#
# Happy Coding!

service: civ-serverless-api

frameworkVersion: "3"

plugins:
  - serverless-prune-plugin
  - serverless-domain-manager
  - export-api-url
  - serverless-webpack
  - serverless-offline

provider:
  name: aws
  runtime: nodejs20.x
  tracing:
    lambda: true
  stage: dev
  httpApi:
    cors:
      allowedOrigins:
        - '*'
      allowedHeaders:
        - Content-Type
        - Authorization
      allowedMethods:
        - GET
        - POST
        - DELETE
      exposedResponseHeaders:
        - Authorization
        - Metadata-Hash
      maxAge: 600
  iam:
    role:
      statements:
        - Effect: Allow
          Action: "dynamodb:*"
          Resource: "arn:aws:dynamodb:*:*:table/${self:custom.resourcePrefix}*"
        - Effect: Allow
          Action: "iot:*"
          Resource: "*"
        - Effect: Allow
          Action: "kms:*"
          Resource: "*"
        - Effect: Allow
          Action: "s3:*"
          Resource: "arn:aws:s3:::${self:custom.resourcePrefix}saves*"
        - Effect: Allow
          Action: "sns:*"
          Resource: "*"
        - Effect: Allow
          Action: "sqs:*"
          Resource: "*"
        - Effect: Allow
          Action: "ses:*"
          Resource: "*"
        - Effect: Allow
          Action: "sts:*"
          Resource: "*"
  environment:
    SERVERLESS_STAGE: ${self:custom.activeStage}
    RESOURCE_PREFIX: ${self:custom.resourcePrefix}
    WEB_URL: ${env:WEB_URL, self:custom.DEV_WEB_URL}
    JWT_SECRET: ${env:JWT_SECRET, file(./config.yml):JWT_SECRET}
    ROLLBAR_API_KEY: ${env:ROLLBAR_API_KEY, file(./config.yml):ROLLBAR_API_KEY}
    DISCOURSE_API_KEY: ${env:DISCOURSE_API_KEY, file(./config.yml):DISCOURSE_API_KEY}
    STEAM_API_KEY: ${env:STEAM_API_KEY, file(./config.yml):STEAM_API_KEY}
    VAPID_PRIVATE_KEY: ${env:VAPID_PRIVATE_KEY, file(./config.yml):VAPID_PRIVATE_KEY}

custom:
  activeStage: ${opt:stage, self:provider.stage}
  resourcePrefix: ${self:custom.activeStage}-civx-
  DEV_WEB_URL: "http://localhost:8080"
  dev_DYNAMO_CAPACITY: 1
  prod_DYNAMO_CAPACITY: 5
  DEFAULT_DYNAMO_CAPACITY: ${self:custom.${self:custom.activeStage}_DYNAMO_CAPACITY}
  DEFAULT_LAMBDA_MEMORY: 3072
  webpack:
    #packExternalModulesMaxBuffer: 512000
    includeModules:
      forceInclude:
        - reflect-metadata
        - source-map-support
      forceExclude:
        - aws-sdk
  domain:
    dev: api-dev.playyourdamnturn.com
    prod: api.playyourdamnturn.com
  wsDomain:
    dev: ws-dev.playyourdamnturn.com
    prod: ws.playyourdamnturn.com
  customDomain:
    http:
      domainName: ${self:custom.domain.${self:custom.activeStage}}
      basePath: ''
      certificateName: "playyourdamnturn.com"
      createRoute53Record: true
      endpointType: 'regional'
      securityPolicy: tls_1_2
    websocket:
      domainName: ${self:custom.wsDomain.${self:custom.activeStage}}
      basePath: ''
      certificateName: "playyourdamnturn.com"
      createRoute53Record: true
      endpointType: 'regional'
      securityPolicy: tls_1_2

  prune:
    automatic: true
    number: 3

functions:
  api_router:
    handler: api/router.handler
    memorySize: ${self:custom.DEFAULT_LAMBDA_MEMORY}
    timeout: 20
    events:
      - httpApi:
          method: GET
          path: '/{proxy+}'
      - httpApi:
          method: POST
          path: '/{proxy+}'
      - httpApi:
          method: DELETE
          path: '/{proxy+}'
  cronCheckTurnTimerJobs:
    handler: functions/cron/checkTurnTimerJobs.handler
    memorySize: ${self:custom.DEFAULT_LAMBDA_MEMORY}
    events:
      - schedule: rate(2 minutes)
  cronDeleteOldUnstartedGames:
    handler: functions/cron/deleteOldUnstartedGames.handler
    timeout: 30
    memorySize: ${self:custom.DEFAULT_LAMBDA_MEMORY}
    events:
      - schedule: cron(0 8 * * ? *)
  cronCheckForCompletedGames:
    handler: functions/cron/checkForCompletedGames.handler
    timeout: 30
    memorySize: ${self:custom.DEFAULT_LAMBDA_MEMORY}
    events:
      - schedule: cron(0 7 * * ? *)
  cronUpdateUserInfo:
    handler: functions/cron/updateUserInfo.handler
    timeout: 900
    memorySize: 1024
    events:
      - schedule: cron(23 */6 * * ? *)
  cronNotifyNewGames:
    handler: functions/cron/notifyNewGames.handler
    timeout: 120
    memorySize: ${self:custom.DEFAULT_LAMBDA_MEMORY}
    events:
      - schedule: cron(31 * * * ? *)
  snsAddTurnTimer:
    handler: functions/sns/addTurnTimerJob.handler
    memorySize: ${self:custom.DEFAULT_LAMBDA_MEMORY}
    events:
      - sns: ${self:custom.resourcePrefix}turn-submitted
      - sns: ${self:custom.resourcePrefix}game-updated
  snsUserTurnNotification:
    handler: functions/sns/userTurnNotification.handler
    memorySize: ${self:custom.DEFAULT_LAMBDA_MEMORY}
    timeout: 10
    events:
      - sns: ${self:custom.resourcePrefix}user-game-cache-updated
  snsUpdateUserGameCache:
    handler: functions/sns/updateUserGameCache.handler
    memorySize: ${self:custom.DEFAULT_LAMBDA_MEMORY}
    events:
      - sns: ${self:custom.resourcePrefix}turn-submitted
      - sns: ${self:custom.resourcePrefix}game-updated
  snsDataMigrations:
    handler: functions/sns/dataMigrations.handler
    memorySize: ${self:custom.DEFAULT_LAMBDA_MEMORY}
    timeout: 900
    events:
      - sns: ${self:custom.resourcePrefix}data-migrations
  snsDeleteOldSaves:
    handler: functions/sns/deleteOldSaves.handler
    memorySize: ${self:custom.DEFAULT_LAMBDA_MEMORY}
    events:
      - sns: ${self:custom.resourcePrefix}turn-submitted
  snsCiv6GameStateImage:
    image: 583172113704.dkr.ecr.us-east-1.amazonaws.com/civ6_pipeline:latest
    memorySize: 768
    timeout: 120
    events:
      - sns: ${self:custom.resourcePrefix}civ-6-game-state-image
  snsGameStateVideo:
    handler: functions/sns/createGameVideo.handler
    memorySize: ${self:custom.DEFAULT_LAMBDA_MEMORY}
    timeout: 300
    ephemeralStorageSize: 2048
    events:
      - sns: ${self:custom.resourcePrefix}game-finalized
    layers:
      - arn:aws:lambda:us-east-1:${aws:accountId}:layer:ffmpeg_06142023:1
  sqsGlobalStatsUpdate:
    handler: functions/sqs/globalStatsUpdate.handler
    memorySize: ${self:custom.DEFAULT_LAMBDA_MEMORY}
    timeout: 10
    events:
      - sqs:
          arn: arn:aws:sqs:us-east-1:${aws:accountId}:${self:custom.resourcePrefix}global-stats-update.fifo
          batchSize: 10
  websockets:
    handler: api/websocket.handler
    events:
      - websocket:
          route: $connect
      - websocket:
          route: $disconnect
      - websocket:
          route: auth

# you can add CloudFormation resource templates here
resources:
  Resources:
    GameSavesBucket:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:custom.resourcePrefix}saves
        CorsConfiguration:
          CorsRules:
            - AllowedHeaders:
                - "*"
              AllowedMethods:
                - GET
                - PUT
              AllowedOrigins:
                - "*" # We should change this when we know what our domain is...
    UserTable:
      Type: AWS::DynamoDB::Table
      Properties:
        AttributeDefinitions:
          - AttributeName: steamId
            AttributeType: S
        KeySchema:
          - AttributeName: steamId
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: ${self:custom.DEFAULT_DYNAMO_CAPACITY}
          WriteCapacityUnits: ${self:custom.DEFAULT_DYNAMO_CAPACITY}
        TableName: ${self:custom.resourcePrefix}user
    GameTable:
      Type: AWS::DynamoDB::Table
      Properties:
        AttributeDefinitions:
          - AttributeName: gameId
            AttributeType: S
          - AttributeName: inProgress
            AttributeType: S
          - AttributeName: completed
            AttributeType: S
          - AttributeName: discourseTopicId
            AttributeType: N
          - AttributeName: createdAt
            AttributeType: N
        KeySchema:
          - AttributeName: gameId
            KeyType: HASH
        GlobalSecondaryIndexes:
          - IndexName: inProgressGlobalIndex
            KeySchema:
              - AttributeName: inProgress
                KeyType: HASH
              - AttributeName: createdAt
                KeyType: RANGE
            Projection:
              ProjectionType: KEYS_ONLY
            ProvisionedThroughput:
              ReadCapacityUnits: ${self:custom.DEFAULT_DYNAMO_CAPACITY}
              WriteCapacityUnits: ${self:custom.DEFAULT_DYNAMO_CAPACITY}
          - IndexName: completedGlobalIndex
            KeySchema:
              - AttributeName: completed
                KeyType: HASH
              - AttributeName: createdAt
                KeyType: RANGE
            Projection:
              ProjectionType: KEYS_ONLY
            ProvisionedThroughput:
              ReadCapacityUnits: ${self:custom.DEFAULT_DYNAMO_CAPACITY}
              WriteCapacityUnits: ${self:custom.DEFAULT_DYNAMO_CAPACITY}
          - IndexName: discourseTopicIdGlobalIndex
            KeySchema:
              - AttributeName: discourseTopicId
                KeyType: HASH
            Projection:
              ProjectionType: KEYS_ONLY
            ProvisionedThroughput:
              ReadCapacityUnits: 1
              WriteCapacityUnits: 1
        ProvisionedThroughput:
          ReadCapacityUnits: ${self:custom.DEFAULT_DYNAMO_CAPACITY}
          WriteCapacityUnits: ${self:custom.DEFAULT_DYNAMO_CAPACITY}
        TableName: ${self:custom.resourcePrefix}game
    GameTurnTable:
      Type: AWS::DynamoDB::Table
      Properties:
        AttributeDefinitions:
          - AttributeName: gameId
            AttributeType: S
          - AttributeName: turn
            AttributeType: N
        KeySchema:
          - AttributeName: gameId
            KeyType: HASH
          - AttributeName: turn
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST
        TableName: ${self:custom.resourcePrefix}game-turn
    ScheduledJobTable:
      Type: AWS::DynamoDB::Table
      Properties:
        AttributeDefinitions:
          - AttributeName: jobType
            AttributeType: S
          - AttributeName: scheduledTime
            AttributeType: N
        KeySchema:
          - AttributeName: jobType
            KeyType: HASH
          - AttributeName: scheduledTime
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST
        TableName: ${self:custom.resourcePrefix}scheduled-job
    PrivateUserDataTable:
      Type: AWS::DynamoDB::Table
      Properties:
        AttributeDefinitions:
          - AttributeName: steamId
            AttributeType: S
        KeySchema:
          - AttributeName: steamId
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
        TableName: ${self:custom.resourcePrefix}private-user-data
    WebsocketConnectionTable:
      Type: AWS::DynamoDB::Table
      Properties:
        AttributeDefinitions:
          - AttributeName: connectionId
            AttributeType: S
        KeySchema:
          - AttributeName: connectionId
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
        TableName: ${self:custom.resourcePrefix}websocket-connection
    MiscDataTable:
      Type: AWS::DynamoDB::Table
      Properties:
        AttributeDefinitions:
          - AttributeName: key
            AttributeType: S
        KeySchema:
          - AttributeName: key
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
        TableName: ${self:custom.resourcePrefix}misc-data
    GlobalStatsUpdateQueue:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: ${self:custom.resourcePrefix}global-stats-update.fifo
        FifoQueue: true
        ContentBasedDeduplication: true
